.footer{
  background-color: #FFB326;
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.About_us{
  margin-left: 800px;
}

.About_us > a{
  text-decoration: underline;
}

.service > a{
  text-decoration: underline;
}
