.footer{
  background-color: #FFB326;
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  left: 0;
  bottom: 0;
}

.About_us{
  margin-left: 800px;
}

.About_us > a{
  text-decoration: underline;
}

.service > a{
  text-decoration: underline;
}
