.header_side{
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  height: 60px;
  position: absolute;
  top: 0;
  padding: 8px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: solid;
}

.menu{
  background-color: #E3E3E3;
  min-height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.shopping_cart > a{
  text-decoration: none;
}

.menu_bar{
  width: 100%;
  display: flex;
  height: 60px;
  background-color: black;
  padding-top: 10px;
  justify-content: space-around;
}