.header,
.footer,
.header *,
.footer * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
  height: 100%;
  margin: 0;
}



.newest_photo{
  margin-left: 120px;
  margin-top: 200px;

}

.hottest_photo{
  margin-left: 120px;
}

.newest_photo > a > img{
  width: 240px ;
  height: 240px;
}


.hottest_photo > a > img{
  width: 240px ;
  height: 240px;
}

.menu {
  padding-bottom: 50px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}